/*coment*/
.about__title {
  color: $color-about-title;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.about__list {
  list-style: none;
  color: $color-about-list-text;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}
