/*coment*/
.catalog-title {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  background-color: $color-catalog-background-title;
}

.catalog-title__main-title {
  @include margin-padding-reset;
  color: $color-catalog-title;
  width: 240px;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  padding-top: 68px;
  padding-bottom: 72px;
}

@media (min-width: $tablet-width) {
  .catalog-title__main-title {
    width: 380px;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 43px;
    line-height: 50px;
    padding-top: 95px;
    padding-bottom: 80px;
  }

  .catalog-title {
    margin-top: -70px;
    margin-bottom: 70px;
    padding-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-title {
    margin-bottom: 135px;
  }

  .catalog-title__main-title {
    width: 455px;
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    font-size: 53px;
    line-height: 57px;
  }
}
