/*coment*/
.catalog-items__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog-items__item {
  margin-bottom: 30px;
}

.catalog-items__link {
  display: flex;
  height: auto;
}

.catalog-items__basket {
  font-size: 0;
}

.catalog-items__title a {
  color: $color-catalog-items-title;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.catalog-items__wrapper-description {
  border: 1px solid $color-catalog-wrapper-description;
  cursor: pointer;
}

.catalog-items__option {
  display: flex;
  padding-bottom: 20px;
  color: $color-catalog-items-option;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  border-bottom: 1px solid $color-catalog-items-border;
}

.catalog-items__price {
  color: $color-catalog-items-price;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.catalog-items__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 4px;
  line-height: 24px;
}

.catalog-items__description {
  padding-left: 28px;
  padding-right: 30px;
}

.catalog-items__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 27px;
  padding-left: 28px;
}

.catalog-items__title--big {
  padding-top: 22px;
}

.catalog-items__wrapper-description:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, 0.3s ease;
}

.catalog-items__wrapper-description:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, 0.3s ease;
}

@media (min-width: $tablet-width) {
  .catalog-items__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .catalog-items__item {
    display: flex;
    align-items: stretch;
    padding-bottom: 53px;
    margin-bottom: 0;
    flex-direction: row;
  }

  .catalog-items__title {
    padding-top: 24px;
  }

  .catalog-items__title a {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-items__title--cart {
    padding-bottom: 7px;
  }

  .catalog-items__title--big {
    width: 220px;
    padding-top: 24px;
    /*padding-bottom: 3px;*/
  }

  .catalog-items__option {
    font-size: 15px;
    line-height: 30px;
    border: 0;
  }

  .catalog-items__price {
    font-size: 17px;
    line-height: 24px;
  }

  .catalog-items__buy {
    padding-top: 21px;
    padding-bottom: 27px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 32px;
    margin-left: 32px;
    border-top: 1px solid $color-catalog-items-buy;
  }

  .catalog-items__link img {
    width: 334px;
    height: 334px;
  }

  .catalog-items__wrapper-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-right: 5px;*/
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-items__wrapper {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog-items__description {
    padding-left: 25px;
  }

  .catalog-items__wrapper-description {
    width: auto;
  }

  .catalog-items__item {
    width: 315px;
    flex-direction: column;
    padding-bottom: 57px;
  }

  .catalog-items__link img {
    width: 316px;
    height: 462px;
  }

  .catalog-items__option {
    display: flex;
    padding-bottom: 38px;
  }

  .catalog-items__option--seze {
    padding-bottom: 13px;
  }

  .catalog-items__title--cart {
    padding-top: 23px;
    padding-bottom: 5px;
  }

  .catalog-items__buy {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 33px;
    margin-left: 25px;
  }
}
