/*coment*/
.copyright {
  position: relative;
}

.copyright__text {
  color: $color-copyright-text;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  margin-left: -30px;
  padding-top: 27px;
  padding-right: 30px;
}

.copyright__link-academy {
  position: absolute;
  top: 21px;
  fill: $color-coperight-link-academy;
}

.copyright__link-academy:hover,
.social__list svg:hover {
  fill: $color-copyright-link-academy-hover;
  transition: fill 0.3s ease;
}

.copyright__link-academy:active,
.social__list svg:active {
  fill: $color-copyright-link-academy-hover;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-right: 55px;
    padding-top: 2px;
    padding-bottom: 17px;
  }

  .copyright__link-academy {
    top: -4px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    padding-bottom: 25px;
  }
}
