/*coment*/
.copyright__text {
  color: $color-copyright-text;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  margin-left: -28px;
  padding-top: 27px;
  padding-right: 26px;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-right: 56px;
    padding-top: 2px;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    padding-bottom: 25px;
  }
}
