/*coment*/
.description {
  width: 320px;
  margin: 0 auto;
  margin-top: -18px;
  margin-bottom: 27px;
  background-color: $color-description-background;
  background-image: url("/img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: 50% 0;
}

.description__type {
  min-height: 103px;
}

.description__title-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 122px;
}

.description__title {
  @include margin-padding-reset;
  width: 245px;
  color: $color-description-title;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.description__type-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.description__type a {
  display: flex;
  padding-left: 28px;
  padding-right: 28px;
  justify-content: space-between;
  align-items: center;
}

.description__type span {
  color: $color-description-type-text;
  font-family: "Open-Sans-Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  width: 106px;
  padding-top: 25px;
  padding-bottom: 30px;
}

.description__type--interior {
  background-color: $color-description-type-interior;
  cursor: pointer;
}

.description__type--toys {
  background-color: $color-description-type-toys;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .description {
    width: auto;
    min-height: 660px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 45px;
    background-image: url("/img/hero-tablet@1x.jpg");
    background-size: auto 744px;
    background-position: center;
  }

  .description__title {
    font-family: "Open-Sans-Bold", "Arial", sans-serif;
    width: 520px;
    font-size: 43px;
    line-height: 50px;
  }

  .description__title-wrapper {
    padding-top: 153px;
    padding-bottom: 375px;
  }

  .description__type a {
    padding-left: 35px;
    padding-right: 20px;
  }

  .description__type span {
    font-size: 20px;
    line-height: 30px;
    padding-top: 27px;
  }

  .description__type-list {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  .description__type {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    width: auto;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: -75px;
  }

  .description__type {
    width: 1050px;
  }

  .description__type-list {
    width: 1050px;
    margin: 0 auto;
  }

  .description__title-wrapper {
    padding-top: 155px;
    padding-bottom: 360px;
  }

  .description__title {
    width: 620px;
    font-size: 53px;
    line-height: 57px;
  }
}
