/*coment*/
.reviews__title {
  color: $color-reviews-title;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__text {
  color: $color-reviews-text;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.reviews__author-name {
  color: $color-reviews-author-name;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.reviews__insta-author {
  color: $color-reviews-author-insta;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.reviews__toggles {
  display: flex;
  border: none;
}
