$color-body-background: #ffffff;
$color-description-background: #fafafa;
$color-main-nav-text: #000000;
$color-description-title: #010000;
$color-description-type-text: #ffffff;
$color-description-type-interior: #63d1bb;
$color-description-type-interior-active: #59d5bc;
$color-description-type-toys: #56c3b2;
$color-description-type-toys-active: #46c1ae;
$color-main-headers: #000000;
$color-main-text: #444444;
$color-button-background-hover: #444444;
$color-button-text-hover: #ffffff;
$color-button-text-active: #7c7c7c;
$color-contacts-mail-link: #46c1ae;
$color-background-decoration-elements: #f1f1f1;
$color-decoration-elements-form: #444444;
$color-modal-elements-hover: #c7c7c7;
$color-modal-elements-active: #62d1ba;
$color-description-icon: #149080;
$color-modal-decoration-element: #ececec;
$color-modal-decoration-btn: #63d1bb;
$color-modal-text-btn: #ffffff;
$color-decorate-element-form: #000000;
$color-elements-headers: #63d1bb;
$color-product-cart: #63d1bb;
$color-product-border: #ececec;
$color-checkbox-form: #62d1ba;
$color-border-decoration-element: #62d1ba;
$color-main-nav-decorate: #ececec;
$color-reviews-navigation: #ececec;
$color-product-option-element: #ececec;
$color-footer-social-decorate: #e5e5e5;
$color-shadows-catalog-product: rgba(0, 0, 0, 0.1);
$goods-icon-color: #149080;
$color-footer-logo: #46c1ae;
$color-footer-social: #46c1ae;
$color-footer-logo-link: #46c1ae;
